@import '../../../styles/mixins/index.scss';

.articleAlignment {
  padding: 90px 0;

  .title {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include breakpoint("md-max") {
      padding: 0 0 30px 0;
    }

    h2 {
      @include heading2;
      color: $theme-white;
      position: relative;
      display: inline-block;
      @include heading-font;

      @include breakpoint("md-max") {
        @include heading3;
        @include heading-font;
      }

      @include breakpoint("sm-max") {
        @include heading8-bold;
        @include heading-font;
      }

      &::before {
        position: absolute;
        width: 135px;
        height: 11px;
        border-radius: 8px;
        background: #322f87;
        content: "";
        left: 0;
        bottom: 5px;
        z-index: -9;

        @include breakpoint("sm-max") {
          width: 100%;
          bottom: -5px;
        }
      }
    }

    p {
      @include font16;
      color: $theme-light-100;
      padding: 8px 0 0 0;

      @include breakpoint("sm-max") {
        @include font14;
      }
    }
  }



  @include breakpoint("md-max") {
    padding: 60px 0;
  }

  @include breakpoint("sm-max") {
    padding: 50px 0;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 29px;

    @include breakpoint("md-max") {
      grid-template-columns: repeat(2, 1fr);
    }

    @include breakpoint("sm-max") {
      gap: 20px;
      grid-template-columns: repeat(1, 1fr);
    }
  }

  .headerAlignment {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 44px 0;

    @include breakpoint("sm-max") {
      padding: 0 0 20px 0;
    }

    h3 {
      @include heading2;
      color: $theme-white;
      position: relative;
      display: inline-block;
      @include heading-font;

      @include breakpoint("md-max") {
        @include heading3;
        @include heading-font;

      }

      @include breakpoint("sm-max") {
        @include heading6;
        @include heading-font;

      }

      span {
        position: relative;
        @include heading-font;


        &::before {
          position: absolute;
          bottom: 5px;
          width: 135px;
          height: 11px;
          border-radius: 8px;
          background: #322F87;
          content: '';
          left: 0;
          z-index: -9;

          @include breakpoint("md-max") {
            width: 100%;
            bottom: -5px;
          }
        }
      }


    }
  }
}

.webViewAll {
  display: block;

  @include breakpoint("sm-max") {
    display: none;
  }
}

.mobileViewAll {

  display: none;

  @include breakpoint("sm-max") {
    display: block;
    padding: 20px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}