@import "../../../../styles/mixins/index.scss";

.homeCardDesign {
  border-radius: 18px;
  border: 1px solid rgba(255, 255, 255, 0.12);
  background: rgba(255, 255, 255, 0.06);
  padding: 10px;
  margin: 0 0 30px 0;

  &.activeHomeCard {
    border: 2px solid $theme-primary-background-color;
  }

  .details {
    padding: 14px 0 0 0;
    display: grid;
    grid-template-columns: 37px 1fr;
    gap: 8px;

    .cardImageChild {
      height: 37px;
      width: 100%;
      border-radius: 50%;
      min-height: 37px;
      max-height: 37px;

      img {
        width: 100%;
        background-color: #fff;
        height: 100%;
        border-radius: 50%;
        display: block;
      }
    }

    p {
      @include font16-bold;
      color: $theme-white;
      padding: 0;
      white-space: nowrap;
      max-width: 200px;
      overflow: hidden;
      text-overflow: ellipsis;
      text-transform: capitalize;
    }

    span {
      display: block;
      @include font12-bold;
      font-weight: 500;
      color: $theme-light-white-800;
      letter-spacing: 0.6px;
    }
  }

  .cardImage {
    position: relative;
    width: 100%;
    height: 144px;

    @include breakpoint("md-max") {
      height: 190px;
    }

    .featured {
      position: absolute;
      top: 8px;
      left: 8px;

      button {
        border: none;
        @include font12-bold;
        color: $theme-white;
        padding: 4px 10px;
        border-radius: 18px;
        background: var(--Gradient,
            linear-gradient(90deg, #f65c54 0%, #ab57a5 51.14%, #5c52fb 100%));
        border-radius: 99px;
        cursor: pointer;
      }
    }

    .cardMainImage {
      width: 100%;
      height: 100%;

      .cardImageChild {
        display: block;
        border-radius: 14px;
        height: 144px;
        object-fit: cover;
        object-position: center;
        width: 100%;

        @include breakpoint("md-max") {
          height: 190px;
        }

        img {
          border-radius: 18px;
        }

      }
    }


    img {
      display: block;
      border-radius: 14px;
      height: 144px;
      object-fit: cover;
      object-position: center;
      width: 100%;

      @include breakpoint("md-max") {
        height: 190px;
      }
    }

    .cardImageChild {
      height: 100%;
      width: 100%;
      border-radius: 18px;

      @include breakpoint("md-max") {
        height: 180px;
      }

      img {
        border-radius: 18px;
      }

    }
  }
}

.homeCardDesignSkeleton {
  border-radius: 18px;
  border: 1px solid rgba(255, 255, 255, 0.12);
  background: rgba(255, 255, 255, 0.06);
  padding: 10px;
  margin: 0 0 30px 0;

  .detailsSkeleton {
    padding: 14px 0 0 0;
    display: grid;
    grid-template-columns: 37px 1fr;
    gap: 8px;

    .imageSkeleton {
      width: 37px;
      height: 37px;
      border-radius: 50%;
      background-color: #ccc;
      /* Placeholder color */
    }

    .textSkeleton {
      height: 20px;
      /* Adjust height as needed */
      background-color: #ccc;
      /* Placeholder color */
    }
  }

  .cardImageSkeleton {
    position: relative;

    .featuredSkeleton {
      position: absolute;
      top: 8px;
      left: 8px;

      .buttonSkeleton {
        width: 50px;
        /* Adjust width as needed */
        height: 20px;
        /* Adjust height as needed */
        border-radius: 18px;
        background: #ccc;
        /* Placeholder color */
      }
    }

    .imageSkeleton {
      border-radius: 14px;
      height: 144px;
      /* Adjust height as needed */
      background-color: #ccc;
      /* Placeholder color */
    }
  }
}

.skeletonUi {
  br {
    display: none;
  }

  .firsttext {
    width: 100%;
    height: 24px;
    border-radius: 4px;
    margin: 0 0 2px 0;
  }


  .secondtext {
    width: 100%;
    height: 15px;
    border-radius: 2px;
  }

  .skeletcardImg {
    width: 100%;
    height: 144px;
    border-radius: 14px;

    @include breakpoint("md-max") {
      height: 190px;
    }
  }

  .skeletonProgile {
    width: 37px;
    height: 37px;
    border-radius: 50%;
  }
}