@import '../../../styles/mixins/index.scss';

.blogcardAllAlignment {
    padding: 0;

    @include breakpoint("md-max") {
        padding: 0 0 0 0;
    }

    @include breakpoint("sm-max") {
        padding: 0 0 40px 0;
    }


    .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 40px 28px;
        padding: 0;


        @include breakpoint("md-max") {
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
            padding: 0 0 60px 0;
        }

        @include breakpoint("sm-max") {
            grid-template-columns: repeat(1, 1fr);
            gap: 20px;
            padding: 0 0 40px 0;
        }
    }
}