@import "../../../styles/mixins/index.scss";

.blogbannerAlignment {
  padding: 0 0 40px 0;
@include breakpoint("md-max") {
  padding: 60px 0;
}
  @include breakpoint("sm-max") {
    padding: 60px 0;
  }

  .textSectionAlignment {
    margin: 53px 0 0 0;
    // padding: 0 0 40px 0;
    // border-bottom: 1px solid rgba(255, 255, 255, 0.09);
    gap: 150px;
    display: flex;
    
    :global(.slick-slide) {
      padding: 0 8px;
    }
    :global(.slick-list) {
      margin: 0 -8px;
    }

    .leftArrowDesign {
      width: 40px;
      height: 40px;
      background-color: rgba(255, 255, 255, 0.08);
      border: 1px solid rgba(255, 255, 255, 0.12);
      cursor: pointer;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -50px;
      z-index: 99;
      transition: .3s ease-in-out;

      @include breakpoint("md-max") {
        display: none;
      }

      svg {
        transform: rotate(90deg);
      }

      &:hover {
        background-color: #625df5;
      }
    }
    .rightArrowDesign {
      width: 40px;
      height: 40px;
      background-color: rgba(255, 255, 255, 0.08);
      border: 1px solid rgba(255, 255, 255, 0.12);
      cursor: pointer;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: -50px;
      z-index: 99;
      transition: .3s ease-in-out;
      @include breakpoint("md-max") {
        display: none;
      }
      

      svg {
        transform: rotate(-90deg);
      }

      &:hover {
        background-color: #625df5;
      }
    }

    .imgwidth {
      width: 320px;

      @include breakpoint("md-max") {
        width: 100%;
      }
    }

    .textwidth {
      width: calc(100% - 320px - 150px);
      @include breakpoint("md-max") {
        width: 100%;
      }
    }


    @include breakpoint("md-max") {
      margin: 0 0 0 0;
      text-align: center;
      grid-template-columns: 1fr;
    }

    .lastContnet {
      // display: grid;
      // grid-template-columns: 340px 1fr;
      // gap: 20px;
      align-items: center;

      @include breakpoint("md-max") {
        grid-template-columns: 1fr;
        gap: 20px;
      }

      .blogsearch {
        max-width: 400px;

        @include breakpoint("md-max") {
          max-width: 340px;
          margin: 0 auto 8px auto;
        }

        @include breakpoint("sm-max") {
          margin: 0 auto 8px auto;
        }
      }

      .buttonalignment {
        padding: 30px 0 0 0;

        @include breakpoint("md-max") {
          flex-wrap: wrap;
          width: 100%;
          overflow-x: auto;

          &::-webkit-scrollbar {
            display: none;
          }
        }

        button {
          padding: 9px 24px;
          color: #b5b5bb;
          cursor: pointer;
          @include font16;
          line-height: 20px;
          letter-spacing: 0.48px;
          border: 1px solid $theme-light-white-800;
          background-color: transparent;
          border-radius: 99px;
          transition: 0.3s ease-in-out;
          white-space: nowrap;

          &:hover {
            background-color: $theme-primary-background-color;
            color: $theme-white;
          }

          @include breakpoint("sm-max") {
            padding: 8px 16px;
            font-size: 14px;
          }
        }

        .active {
          background-color: $theme-primary-background-color;
          color: $theme-white;
          border: 1px solid transparent;
        }
      }
    }

    h1 {
      color: $theme-white;
      @include heading-50;
      margin: 0 0 5px 0;
      @include heading-font;
      letter-spacing: 1.2px;
      position: relative;

      @include breakpoint("sm-max") {
        @include heading-font;
        font-size: 32px;
        line-height: 38px;
        margin: 0 0 8px 0;
      }

      &::before {
        position: absolute;
        bottom: 4px;
        content: "";
        left: 0;
        z-index: -1;
        width: 198px;
        height: 11px;
        border-radius: 8px;
        background: #322f87;

        @include breakpoint("md-max") {
          transform: translateX(-50%);
          left: 50%;
        }

        @include breakpoint("sm-max") {
          display: none;
        }
      }
    }

    p {
      @include font16;
      margin: 0 0 30px 0;
      line-height: 28px;
      max-width: 576px;
      letter-spacing: 0.48px;
      color: $theme-gray-100;

      @include breakpoint("md-max") {
        max-width: 100%;
      }

      @include breakpoint("sm-max") {
        @include font14;
        max-width: 100%;
        margin: 0 0 20px 0;
      }
    }

    .bannerRightImg {
      max-width: 456px;
      height: auto;

      @include breakpoint("md-max") {
        margin: 10px auto 0 auto;
      }

      @include breakpoint("md-max") {
        max-width: 240px;
        display: none;
      }

      img {
        max-width: 100%;
        height: auto;
        display: block;
      }
    }
  }
}

.active {
  background-color: $theme-primary-background-color;
  color: $theme-white;
}