@import '../../../styles/mixins/index.scss';

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
    flex-wrap: wrap;

    .arrow:last-child {
        img {
            transform: rotate(180deg);
        }
    }

    .arrow {
        width: 48px;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border-radius: 11px;
        background: rgba(217, 217, 217, 0.10);
        transition: .3s ease-in-out;

        &:hover {
            background-color: $theme-primary-background-color;
        }
    }

    .count {
        border-radius: 12px;
        border: 1.5px solid #535263;
        color: #cecddb;
        @include font20;
        cursor: pointer;
        width: fit-content;
        min-width: 48px;
        padding: 0 8px;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        transition: .3s ease-in-out;

        &:hover {
            color: $theme-white;
            border: 1.5px solid $theme-white;
        }

 
    }

    .active {
        background-color: #625DF5;
        color: white;
        border: 1.5px solid $theme-white;
        border-radius: 11px;

    }
}