@import "../../../styles/mixins/index.scss";

.gptCategoriescard {
  border-radius: 18px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  background: rgba(255, 255, 255, 0.06);
  padding: 13px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  position: relative;
  min-height: 160px;
  display: flex;
  align-items: flex-end;
  max-width: 372px;
  width: 372px;

  @media only screen and (max-width:"1201px") {
    max-width: calc(50% - 10px);
    width: calc(50% - 10px);
  }

  @include breakpoint("md-max") {
    max-width: 100%;
    width: 100%;
  }

  @include breakpoint("sm-max") {
    max-width: 100%;
    width: 100%;
  }

  &:hover {
    transform: translate(0, -5px);

    .textGrid {
      img {
        transform: translateY(-5px);
      }
    }
  }


  .textGrid {
    padding: 30px 0 0 0;
    display: grid;
    grid-template-columns: 1fr 24px;
    gap: 20px;
    align-items: flex-end;
    width: 100%;

    img {
      display: block;
      transition: 0.3s ease-in-out;
    }

    span {
      display: block;
      @include font18;
      font-weight: 500;
      color: #ffffff;
      text-align: left;
    }

    p {
      color: rgba(255, 255, 255, 0.55);
      padding-top: 7px;
      @include font14;
      text-align: left;
    }
  }

  button {
    border: none;
    cursor: pointer;
    @include font14;
    padding: 3px 12px;
    border-radius: 999px;
    background-color: $theme-primary-background-color;
    font-weight: 700;
    color: $theme-white;
  }

  .countNuberAlignment {
    position: absolute;
    top: 13px;
    left: 13px;

    span {
      background: $theme-primary-background-color;
      padding: 3px 12px;
      @include font14;
      color: $theme-white;
      border-radius: 18px;
      display: block;
    }
  }
}


.gptCardSkeletonUi {
  br {
    display: none;
  }

  .countSkelton {
    width: 32px;
    height: 24px;
    border-radius: 18px;
    position: absolute;
    top: 13px;
    left: 13px;

  }

  .skeltoncardHeding {
    width: 100%;
    height: 21px;
    border-radius: 4px;
    margin: 0 0 7px 0;
    display: block;

  }

  .cardText {
    width: 100%;
    height: 25px;
    border-radius: 4px;
  }
}