@import "../../../styles/mixins/index.scss";

.blogdetailslistalignment {
  padding: 40px 0 0 0;
  // padding: 40px 120px 90px 50px;

  @include breakpoint("md-max") {
    padding: 60px 0;
  }

  @include breakpoint("sm-max") {
    padding: 40px 0;
  }

  .grid {
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 50px;

    @include breakpoint("md-max") {
      display: flex;
      flex-direction: column;
    }

    .griditems {
      @include breakpoint("md-max") {
        width: 100%;

        &:first-child {
          order: 2;
        }

        &:last-child {
          order: 1;
        }
      }
    }

    .maintitle {
      padding: 0 0 30px 0;

      h1 {
        @include heading3;
        color: $theme-white;

        @include breakpoint("sm-max") {
          @include heading6;
        }
      }
    }

    .alltextAlignment {
      padding: 30px 0 0 0;

      .image {
        padding: 0 0 50px 0;

        img {
          width: 100%;
          border-radius: 12px;
          height: 400px;
          object-fit: cover;

          @include breakpoint("sm-max") {
            height: 210px;
          }
        }
      }

      img {
        margin: 0 0 50px 0;
      }

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        @include font22;
        color: $theme-white;
        opacity: 0.92;
        text-transform: capitalize;
        margin: 0 0 20px 0;
      }

      a {
        text-decoration: underline;
        color: $theme-white;
        text-decoration-color: #625df5;
        font-weight: 500;
      }

      p {
        @include font16;
        line-height: 24px;
        letter-spacing: 0.48px;
        color: $theme-gray-100;
        margin: 0 0 20px 0;
      }

      ul {
        padding: 0 0 0 20px;

        li {
          @include font16;
          line-height: 24px;
          letter-spacing: 0.48px;
          color: $theme-gray-100;
          padding: 0 0 20px 0;
        }
      }

      h5 {
        @include font18;
        font-weight: 700;
        color: $theme-white;
        opacity: 0.92;
        margin: 0 0 20px 0;
        @include heading-font;
      }

      table {
        width: 100%;
        margin: 0 0 20px 0;
        border-top: 1px solid $theme-light-white-800;
        border-bottom: 1px solid $theme-light-white-800;
        border-radius: 8px;

        tbody {
          tr {
            th {
              padding: 10px;
              border-bottom: 1px solid $theme-light-white-800;
              color: $theme-white;
              border-right: 1px solid $theme-light-white-800;
              text-align: left;

              &:first-child {
                border-left: 1px solid $theme-light-white-800;
              }
            }
          }
        }

        tr {
          td {
            padding: 10px;
            border-bottom: 1px solid $theme-light-white-800;
            border-right: 1px solid $theme-light-white-800;

            // &:last-child {
            //   border-right: none;
            // }

            &:first-child {
              border-left: 1px solid $theme-light-white-800;
            }
          }

          &:last-child {
            td {
              border-bottom: none;
            }
          }
        }
      }
    }

    .postedDate {
      padding: 12px 0;
      border-top: 1px solid rgba(255, 255, 255, 0.18);
      border-bottom: 1px solid rgba(255, 255, 255, 0.18);
      display: flex;
      align-items: center;
      justify-content: space-between;

      @include breakpoint("sm-max") {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
      }

      p {
        @include font16;
        font-weight: 500;
        letter-spacing: 0.48px;
        color: $theme-gray-100;
        display: flex;
        align-items: center;
        gap: 8px;
        @include breakpoint("sm-max") {
          order: 2;
        }
        span {
          color: $theme-white;
        }

        .authorPtofile {
          width: 32px;
          height: 32px;
          img {
            width: 100%;
            height: 100%;
            display: block;
            object-fit: cover;
            border-radius: 50%;
          }
        }
      }
    }
  }
}

.blogdetailslistalignmentHeadingSkeleton {
  width: 100%;
  height: 38px;
  margin: 0 0 30px 0;
}

.datedetailslistalignmentHeadingSkeleton {
  width: 100%;
  height: 20px;
  margin: 0 0 16px 0;
}

.skeletonPragaraph {
  width: 100%;
  margin: 8px 0 0 0;
  height: 16px;
}

.skeletonTiltlePragaraph {
  width: 100%;
  margin: 20px 0 16px 0;
  height: 48px;
}
