@import '../../styles/mixins/index.scss';

.privatePolicySection {
    padding: 80px 0 0 0;

    @include breakpoint("sm-max") {
        padding: 60px 0;
    }

    .privatePolicyAlignment {
        .privatePolicyHeading {
            h1 {
                text-align: center;
                @include heading-50;
    
                color: $theme-white;
                @include heading-font;
                position: relative;
                &::before {
                    position: absolute;
                    bottom: 5px;
                    content: "";
                    left: 50%;
                    transform: translateX(-50%);
                    z-index: -1;
                    width: 198px;
                    height: 11px;
                    border-radius: 8px;
                    background: #322f87;

                    @include breakpoint("sm-max") {
                        bottom: -5px;
                    }
                }

                @include breakpoint("md-max") {
                    @include heading3;
                    @include heading-font;
                }

                @include breakpoint("sm-max") {
                    @include heading8-bold;
                    @include heading-font;
                    margin: 0 0 20px 0;
                }
            }
        }

        .privatePolicyDetails {
            padding: 44px 0 0 0;

            @include breakpoint("sm-max") {
                padding: 14px 0 0 0;
            }

            p {
                @include font16;
                color: rgba(255, 255, 255, 0.8);
                line-height: 27px;

                @include breakpoint("md-max") {
                    font-size: 14px;
                    line-height: 21px;
                }

                @include breakpoint("sm-max") {
                    padding: 14px 0 0 0;
                }

            }

            .privatePolicyAllDetails {
                padding: 20px 0 0 0;

                @include breakpoint("sm-max") {
                    padding: 14px 0 0 0;
                }

                h6 {
                    font-size: 32px;
                    line-height: 44px;
                    @include heading-font;
                    color: $theme-white;

                    @include breakpoint("md-max") {
                        font-size: 24px;
                        line-height: 32px;
                    }


                    @include breakpoint("sm-max") {
                        font-size: 20px;
                        line-height: 26px;
                    }
                }

                p {
                    @include font16;
                    color: $theme-light-white-900;
                    line-height: 27px;
                    padding: 20px 0 0 0;

                    @include breakpoint("md-max") {
                        font-size: 14px;
                        line-height: 21px;
                    }

                    @include breakpoint("sm-max") {
                        padding: 14px 0 0 0;
                    }

                }

                ul {
                    padding: 0 0 0 15px;

                    li {
                        @include font16;
                        color: $theme-light-white-900;
                        line-height: 27px;
                        padding: 0 0 5px 0;

                        @include breakpoint("md-max") {
                            font-size: 14px;
                            line-height: 21px;
                        }

                    }
                }
            }
        }
    }
}