@import '../../../styles/mixins/index.scss';

.authorAllDetailsSection {
    padding: 80px 0 0 0;

    @include breakpoint("md-max") {
        padding: 60px 0 0 0;
    }

    .authorAllDetailsGrid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 40px 28px;

        @include breakpoint("md-max") {
            grid-template-columns: repeat(3, 1fr);
        }

        @media only screen and (max-width:"1099px") {
            grid-template-columns: repeat(2, 1fr);
        }
        @include breakpoint("sm-max") {
            grid-template-columns: repeat(1, 1fr);
            gap: 32px;
        }
    }
}