@import '../../../../styles/mixins/index.scss';

.videosectionAlignment {
    .title {
        padding: 0 0 44px 0;
        h5 {
            @include heading3;
            color: $theme-white;
            text-align: center;
            
            span {
                position: relative;

                &::before {
                    position: absolute;
                    bottom: -2px;
                    background: var(--Gradient, linear-gradient(90deg, #F65C54 0%, #AB57A5 51.14%, #5C52FB 100%));
                    height: 3px;
                    content: '';
                    left: 0;
                    width: 100%;
                }
            }
        }
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(3 , 1fr);
        gap: 20px;
        padding: 0 0 80px 0;

    }
}