@import '../../../styles/mixins/index.scss';

.featuredyourtoolcardAllContnetAlignment {


  .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;

    @include breakpoint("md-max") {
      grid-template-columns: repeat(2, 1fr);
      gap: 0 30px;
    }

    @include breakpoint("sm-max") {
      grid-template-columns: repeat(2, 1fr);
      gap: 0 20px;
    }

    @media only screen and (max-width : "575px") {
      grid-template-columns: 1fr;
      gap: 0;
    }

  }
}