@import "../../../styles/mixins/index.scss";

.toolssectionAlignment {
  padding: 80px 0 0 0;

  .title {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h2 {
      @include heading2;
      color: $theme-white;
      position: relative;
      display: inline-block;
      @include heading-font;

      @include breakpoint("md-max") {
        @include heading3;
        @include heading-font;
      }

      @include breakpoint("sm-max") {
        @include heading8-bold;
        @include heading-font;
      }

      &::before {
        position: absolute;
        width: 135px;
        height: 11px;
        border-radius: 8px;
        background: #322f87;
        content: "";
        left: 0;
        bottom: 5px;
        z-index: -9;


        @include breakpoint("sm-max") {
          bottom: -5px;
        }
      }
    }

    p {
      @include font16;
      color: $theme-light-100;
      padding: 8px 0 0 0;

      @include breakpoint("sm-max") {
        @include font14;
        line-height: 24px;
        padding: 12px 0 0 0;
      }
    }
  }


  @include breakpoint("md-max") {
    padding: 60px 0 0 0;
  }

  @include breakpoint("sm-max") {
    padding: 60px 0 0 0;
  }

  .titleAlignment {
    display: flex;
    align-items: center;
    padding: 0 0 44px 0;
    justify-content: space-between;

    @include breakpoint("sm-max") {
      padding: 0 0 40px 0;
    }

    h3 {
      @include heading2;
      color: $theme-white;
      position: relative;
      display: inline-block;
      @include heading-font;

      @include breakpoint("md-max") {
        @include heading3;
        @include heading-font;
      }

      @include breakpoint("sm-max") {
        @include heading6;
        @include heading-font;
      }

      span {
        position: relative;
        @include heading-font;

        &::before {
          position: absolute;
          bottom: 5px;
          width: 135px;
          height: 11px;
          border-radius: 8px;
          background: #322f87;
          content: "";
          left: 0;
          z-index: -9;
          @include breakpoint("sm-max") {
            bottom: -5px;
          }
        }
      }
    }
  }

  .grid {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(4, 1fr);

    @include breakpoint("md-max") {
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }

    @include breakpoint("sm-max") {
      grid-template-columns: repeat(1, 1fr);
      gap: 20px;
    }

    p {
      color: white;
    }

    .gridItems {
      border-radius: 18px;
      border: 2px solid rgba(255, 255, 255, 0.12);
      padding: 45px 20px;
      transition: 0.3s ease-in-out;

      @include breakpoint("sm-max") {
        padding: 30px 20px;
      }

      span {
        display: block;
        text-align: center;
        @include font20;
        color: $theme-white;
        font-weight: 400;

        @include breakpoint("sm-max") {
          @include font16-bold;
          font-weight: 400;
        }
      }

      .iconCenter {
        padding: 0 0 19px 0;
        display: flex;
        justify-content: center;

        img {
          width: 50px;
          height: 50px;
          object-fit: contain;
          filter: invert(1);

          @include breakpoint("sm-max") {
            width: 40px;
            height: 40px;
          }
        }
      }

      &:hover {
        border: 2px solid $theme-primary-background-color;
        transform: translate(0, -5px);
      }
    }

    .newGridItem {
      width: 100%;
      background: #ffffff0f;
      height: 188px;
      border-radius: 18px;
      position: relative;
      overflow: hidden;
      padding: 25px 10px 25px 12px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      gap: 10px;
      cursor: pointer;

      .boxTopIconBox {
        width: 100px;
        height: 100px;
        // background: #ffcd2e47;
        position: absolute;
        top: -10px;
        right: -10px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          display: block;
        }
      }

      h3 {
        @include heading-22;
        color: #fffffff2;
        line-height: 30px;
      }

      p {
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        text-align: left;
        color: $theme-light-100;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        -webkit-line-clamp: 2;

      }

      // &:nth-child(2) {
      //   .boxTopIconBox {
      //     background: #ff716247;
      //   }
      // }

      // &:nth-child(3) {
      //   .boxTopIconBox {
      //     background: #0cc27b47;
      //   }
      // }

      // &:nth-child(4) {
      //   .boxTopIconBox {
      //     background: #625df547;
      //   }
      // }

      // &:nth-child(5) {
      //   .boxTopIconBox {
      //     background: #d9466b47;
      //   }
      // }

      // &:nth-child(6) {
      //   .boxTopIconBox {
      //     background: #1494f147;
      //   }
      // }

      // &:nth-child(7) {
      //   .boxTopIconBox {
      //     background: #0aaece47;
      //   }
      // }

      // &:nth-child(8) {
      //   .boxTopIconBox {
      //     background: #991ae747;
      //   }
      // }
    }
  }
}

.webViewAll {
  display: block;

  @include breakpoint("sm-max") {
    display: none;
  }
}

.mobileViewAll {

  display: none;

  @include breakpoint("sm-max") {
    display: block;
    padding: 20px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
.centeredMessage {
  text-align: center;
  padding: 20px;
  border-radius: 5px;
  color: #ccc;
  display: block;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);


  p {
      font-size: 16px;
      color: #ccc;
  }


}