@import '../../../../styles/mixins/index.scss';

.subscribeBox {
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.07);
    background: rgba(255, 255, 255, 0.05);
    padding: 37px 42px;


    @include breakpoint("sm-max") {
        padding: 24px;
    }

    h6 {
        @include font18;
        font-weight: 700;
        color: $theme-white;
        margin: 0 0 15px 0;
    }

    p {
        padding: 15px 0 0 0;
        margin: 0 0 0 0;
        @include font12-bold;
        font-weight: 500;
        line-height: 22px;
        color: $theme-gray-100;
        opacity: 0.55;
    }

    .input {
        position: relative;

        .sendButton {
            width: 50px;
            height: 50px;
            background-color: $theme-primary-background-color;
            display: flex;
            cursor: pointer;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 0;
            right: 0;
            border-radius: 0 6px 6px 0;
        }

        input {
            padding-left: 16px;
            padding-right: 16px;
            width: 100%;
            background-color: $theme-white;
            border: 1.5px solid #E7E8F2;
            border-radius: 6px;
            @include font14;
            height: 50px;
            font-weight: 400;
            color: #7A7E92;
            transition: .3s ease-in-out;

            &:focus {
                outline: none;
            }
        }

        ::placeholder {
            color: #7A7E92;
            @include font14;
        }
    }
}