@import "../../../styles/mixins/index.scss";

.authorCardSection {
  cursor: pointer;

  .cardImgAlignment {
    width: 100%;
    height: 192px;

    .cardImageChild {
      width: 100%;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
        border-radius: 12px;
      }
    }
  }

  .authorCardBottomAlignment {
    padding: 12px 0 0 0;

    .bottomTopALignment {
      display: flex;
      align-items: center;
      gap: 15px;

      .leftSideFlexAlignment {
        display: flex;
        align-items: center;
        gap: 8px;

        .leftSideBoxAlignment {
          padding: 3px 17px;
          background: rgba(217, 217, 217, 0.12);
          border-radius: 16px;

          span {
            @include font14;
            text-transform: capitalize;
            color: $theme-white;
            display: block;

            @include breakpoint("sm-max") {
              font-size: 12px;
              line-height: 18px;
            }
          }
        }
      }

      p {
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background: $theme-white;

        @include breakpoint("sm-max") {
          width: 3px;
          height: 3px;
        }
      }

      .dateAlignment {
        display: flex;
        align-items: center;
        gap: 10px;

        span {
          @include font14;
          color: $theme-white;
          display: block;

          @include breakpoint("sm-max") {
            font-size: 12px;
            line-height: 18px;
          }
        }
      }
    }

    h6 {
      @include font18;
      font-weight: 800;
      line-height: 22px;
      color: $theme-white;
      padding: 12px 0 0 0;
      font-family: "Mulish-Bold";
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      height: 56px;

      @include breakpoint("sm-max") {
        font-size: 14px;
        line-height: 21px;
      }
    }

  }

  .authorBottomProfileDetails {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 0 0 0;

    .leftSideAlignment {
      display: flex;
      align-items: center;
      gap: 10px;

      .authorProfile {
        width: 30px;
        height: 30px;
        min-width: 30px;
        max-width: 30px;

        .cardImageChild {
          width: 100%;
          height: 100%;
          min-width: 100%;
          max-width: 100%;

          img {
            width: 100%;
            height: 100%;
            display: block;
            object-fit: cover;
          }
        }
      }

      .profileNameAlignment {
        p {
          font-size: 13px;
          line-height: 16px;
          letter-spacing: 3%;
          font-family: "Mulish-Medium";
          color: $theme-white;
          padding: 0;
          margin: 0;
        }
      }
    }

    .rightSideAlignment {
      a {
        display: flex;
        align-items: center;
        gap: 8px;
        @include font12-bold;
        font-family: "Mulish-SemiBold";
        line-height: 20px;
        color: rgba(255, 255, 255, 0.8);
        cursor: pointer;
      }
    }
  }
}

.skeletonDate {
  width: 64px;
  height: 24px;
  border-radius: 16px;
  margin: 0 0 8px 0;
}

.skeletonAuthorProfile {
  width: 30px;
  height: 30px;
  min-width: 30px;
  max-width: 30px;
  border-radius: 50%;
}

.skeletonAuthorNameAlignment {
  width: 116px;
  height: 16px;
  border-radius: 4px;
}

.skeletonReadMore {
  width: 86px;
  height: 20px;
  border-radius: 4px;
}

.skeletonPlayer {
  width: 100%;
  height: 22px;
  margin: 12px 0 0 0;
}