@import '../../../styles/mixins/index.scss';

.topbar {
 background-color: $theme-primary-background-color;   
 padding: 5px 0;

 p {
    @include font14;
    color: $theme-white;
    text-align: center;

    @include breakpoint("md-max") {
        @include font12;
    }

    a {
        text-decoration-line: underline;
        color: white;
        font-weight: 500;
    }
}
}