$theme-primary-background-color: #625df5;
$theme-white: #fff;
$theme-light-100: #c1c1c9;
$theme-gray: #e2e2e4;
$theme-black-200:#202020;
$theme-gray-100: #ababb2;
$theme-gray-800: #8a8a8a;
$theme-gray-200: #b0b0b7;
$theme-light-white: rgba(255, 255, 255, 0.7);
$theme-light-white-900: rgba(238, 238, 238, 0.9);
$theme-light-white-800: rgba(255, 255, 255, 0.8);
$theme-light-white-700: rgba(255, 255, 255, 0.75);
$search-input-background-color: rgba(255, 255, 255, 0.08);
$search-input-border-color: rgba(255, 255, 255, 0.12);
$divider-color: rgba(255, 255, 255, 0.18);
$theme-button-border-color: #9b9aa3;
$theme-light-background: rgba(255, 255, 255, 0.08);
$theme-light-white-600: rgba(255, 255, 255, 0.06);
$theme-light-white-600-2: rgba(255, 255, 255, 0.6);
$theme-light-white-200: rgba(238, 238, 238, 0.2);
$theme-light-white-400: rgba(255, 255, 255, 0.4);
$theme-light-white-900: rgba(255, 255, 255, 0.9);
$theme-input-bg-2 :rgba(245, 245, 255, 0.05);

$theme-gray-300 : #A8A4B0;
$theme-gpt-input-placeholder-color :#B1B0B9;

$theme-secondary-background-color: #322F87;

$theme-gpt-store-color :#E3E3E6;
$theme-gray-900 :#92929E;
$theme-white-2 :#F5F5F5;