body {
  margin: 0;
  padding: 0;
  font-family: 'Mulish-Regular';
  background: #030219;
  min-height: 100vh;
  background-image: url("/assets/images/background.png");
  background-size: cover;
  background-repeat: repeat;
  overflow-x: hidden;
  background-position: 50%;
  background-attachment: fixed;
  -webkit-tap-highlight-color: transparent;
}

* {
  font-family: 'Mulish-Regular';
  box-sizing: border-box;
  user-select: none;
}

img {
  max-width: 100%;
}

p:last-child {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

input,
textarea {
  font-family: 'Mulish-Regular';

}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #232147;
}

.flatpickr-calendar {
  background: rgb(7, 6, 35) !important;
  border: 1px solid rgb(98, 93, 245) !important;
}

.flatpickr-day {
  color: #fff !important;
}

.flatpickr-months .flatpickr-prev-month,
.flatpickr-months .flatpickr-next-month {
  color: rgba(255, 255, 255, 0.9) !important;
  fill: rgba(255, 255, 255, 0.9) !important;
}
.flatpickr-current-month {
  color: #fff !important;
}
.flatpickr-monthDropdown-months {
  color: #fff !important;
}

.flatpickr-monthDropdown-month {
  background: rgb(7, 6, 35) !important;
}

.flatpickr-day.selected {
  background: rgb(98, 93, 245) !important;
}
.flatpickr-day:hover {
  background: rgb(98, 93, 245) !important;
}
.flatpickr-weekday {
  color: #fff !important;
}

.flatpickr-day.prevMonthDay {
  color: rgba(255, 255, 255, 0.6) !important;
}
.flatpickr-day.nextMonthDay {
  color: rgba(255, 255, 255, 0.6) !important;
}
.numInputWrapper .arrowUp {
  background: rgb(98, 93, 245) !important;
  color: #fff !important;
}

.numInputWrapper .arrowUp::after {
  border-bottom-color: #fff !important;
}
.numInputWrapper .arrowDown {
  background: rgb(98, 93, 245) !important;
  color: #fff !important;
}
.numInputWrapper .arrowDown::after {
  border-top-color: #fff !important;
}

.blog-table-design {
  max-width: 100%;
  overflow-x: auto;
}

.blog-table-design::-webkit-scrollbar {
  height: 6px;
}
.blog-table-design::-webkit-scrollbar-thumb {
border-radius: 8px;
}

