@import '../../../styles/mixins/index.scss';

.bookmarkedbanner {
    padding: 60px 0 0 0;

    @include breakpoint("sm-max") {
        padding: 40px 0;
    }

    .title {
        padding: 0 0 44px 0;

        @include breakpoint("sm-max") {
            padding: 0;
        }

        P {
            @include font18;
            color: $theme-light-white;
            font-weight: 400;
            max-width: 929px;
            margin: 0 auto;
            text-align: center;

            @include breakpoint("sm-max") {
                @include font14;
            }
        }

        h3 {
            @include heading2;
            margin: 0 0 20px 0;
            color: $theme-white;
            position: relative;
            text-align: center;
            @include heading-font;

            @include breakpoint("md-max") {
                @include heading3;
                @include heading-font;
                margin: 0 0 12px 0;
            }

            @include breakpoint("sm-max") {
                @include heading8-bold;
                @include heading-font;
                line-height: 32px;
            }


            span {
                position: relative;
                @include heading-font;

                &::before {
                    position: absolute;
                    bottom: 3px;
                    width: 267px;
                    height: 11px;
                    background: #322F87;
                    border-radius: 8px;
                    content: '';
                    left: 45px;
                    z-index: -1;

                    @include breakpoint("md-max") {
                        bottom: -2px;
                        margin: 0 auto;
                        width: 200px;
                    }

                    @include breakpoint("sm-max") {
                        width: 115px;
                        bottom: -2px;
                        margin: 0 auto;
                    }
                }
            }


        }
    }
}