@import "../../../styles/mixins/index.scss";

.header {
  transition: 0.2s ease-in-out;
  position: relative;
  z-index: 99999;

  .headerAlignment {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 85px;

    @include breakpoint("md-max") {
      height: 75px;
    }

    .rightContent {
      @include breakpoint("md-max") {
        display: flex;
        align-items: center;
        gap: 20px;
      }

      @include breakpoint("sm-max") {
        display: flex;
        align-items: center;
        gap: 10px;
      }

      button {
        padding: 6px 12px;
        white-space: nowrap;
        background: transparent;
        @include font16-bold;
        cursor: pointer;
        border: 1px solid $theme-light-white-400;
        border-radius: 999px;
        display: flex;
        align-items: center;
        gap: 8px;
        line-height: 24px;
        color: $theme-white;


        p {
          @include breakpoint("sm-max") {
            display: none;
          }
        }
      }

      svg {
        display: none;
        width: 20px;
        height: 20px;

        path {
          fill: #fff;
        }

        @include breakpoint("md-max") {
          display: block;
        }
      }
    }

    .leftContent {
      display: flex;
      align-items: center;
      gap: 35px;

      @include breakpoint("sm-max") {
        gap: 16px;
      }

      .mobileViewMenu {
        display: none;

        @include breakpoint("md-max") {
          display: block;
        }
      }

      img {
        max-width: 182px;
        cursor: pointer;

        @include breakpoint("sm-max") {
          max-width: 160px;
        }
      }

      nav {
        display: flex;
        align-items: center;
        gap: 30px;

        @include breakpoint("md-max") {
          display: none;
        }

        .activeClass {
          position: relative;
          color: $theme-white;


          &::before {
            position: absolute;
            bottom: -6px;
            left: 0;
            right: 0;
            margin: auto;
            content: " ";
            color: transparent;
            background: #625df5;
            height: 2px;
            transition: 0.4s ease-in-out;
          }
        }

        span, a {
          display: block;
          position: relative;
          @include font16-bold;
          color: $theme-light-white-800;
          cursor: pointer;
          transition: .3s ease-in-out;
          letter-spacing: 0.48px;
          position: relative;


          &:hover {
            color: $theme-white;

            &::after {
              width: 100%;
            }
          }

          &::after {
            position: absolute;
            bottom: -6px;
            left: 0;
            right: 0;
            margin: auto;
            content: " ";
            color: transparent;
            background: #625df5;
            height: 2px;
            width: 0px;
            transition: 0.4s ease-in-out;

          }
        }
      }
    }
  }

  .mobileViewSidebarWrapper {
    position: fixed;
    top: 0;
    left: 0;
    background: url('/assets/images/background.png');
    width: 100%;
    height: 100vh;
    z-index: 9;
  }

  .mobileViewSidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: url('/assets/images/background.png');
    z-index: 99;

    &.openSidebarMenu {
      transform: translateX(0);
      transition: 0.4s ease-in-out;
    }

    &.closeSidebarMenu {
      transform: translateX(-100%);
      transition: 0.4s ease-in-out;
    }

    .mobileViewMenuHeader {
      padding: 20px;
      border-bottom: 1px solid $theme-light-white-600-2;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .logo {
        img {
          max-width: 180px;
        }
      }

      .closeIcon {
        width: 20px;
        height: 20px;

        img {
          width: 100%;
          height: 100%;
          display: block;
        }
      }
    }

    .mobileMenuOptionDetails {
      padding: 10px 20px;

      p {
        @include font16-bold;
        color: $theme-light-white-600-2;
        padding: 20px 0;
        border-bottom: 1px solid $search-input-border-color;
        font-size: 18px;
        // &:last-child {
        //   border-bottom: none;
        // }

        &:hover {
          color: $theme-white;
        }

        &.activeMenu {
          color: $theme-white;
        }
      }

      -webkit-tap-highlight-color: transparent;
    }
  }
}

.app {
  position: fixed;
  width: 100%;
  z-index: 99999;
  top: 0;
  transition: 0.2s ease-in-out;
  background: linear-gradient(90deg, rgba(98, 93, 245, 0.1) 0.08%, rgba(98, 93, 245, 0.03) 16.53%, rgba(98, 93, 245, 0.03) 49.06%, rgba(98, 93, 245, 0.03) 83.21%, rgba(98, 93, 245, 0.1) 99.99%);
  backdrop-filter: blur(19.596906662px);

  @include breakpoint("md-max") {
    backdrop-filter: blur(80px);
  }
}

.mobileHeader {
  position: fixed;
  top: 0;
  background-color: $theme-primary-background-color;
  width: 100%;
  height: 100%;
  left: 0;
  z-index: 999;

  &.hide {
    transform: translateX(100%);
    transition: 0.3s ease-in-out;
  }

  &.show {
    transform: translateX(0%);
    transition: 0.3s ease-in-out;
  }

  .menu {
    padding: 60px 0 0 0;

    a {
      display: block;
      text-align: center;
      @include heading3;
      text-align: center;
      color: $theme-white;
      font-weight: 400;
      margin: 0 0 60px 0;

      @include breakpoint("sm-max") {
        @include heading6;
        margin: 0 0 40px 0;
      }
    }
  }

  .mobileHeaderAlignment {
    padding: 14px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ffffff1a;

    .logo {
      img {
        max-width: 160px;
        cursor: pointer;
      }
    }

    svg {
      width: 20px;
      height: 20px;

      path {
        fill: #fff;
      }
    }
  }
}

.avatar {
  background-color: #d42cf4;
  color: white;
  border-radius: 50%;
  @include font14;
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}

.toggleDropdownmenu {
  display: none;
  position: absolute;
  background-color: transparent;
  min-width: 160px;
  background: #232147;
  z-index: 1;
  margin-top: 10px;
  border-radius: 20px;
  padding: 10px;

  @include breakpoint("sm-max") {
    right: 0;
  }

  button {
    &.secondButon {
      border-bottom: 1px solid $theme-light-white-400;
      width: 100%;
      padding: 6px 12px;
      white-space: nowrap;
      background: transparent;
      @include font16-bold;
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 8px;
      line-height: 24px;
      color: $theme-white;
      border: none !important;

      img {
        max-width: 20px;
      }
    }
  }
}

.show {
  display: block;
}