@import '../../../styles/mixins/index.scss';

.promptStartersSection {
    padding: 80px 0 0 0;
    @include breakpoint("sm-max") {
        padding: 60px 0 0 0;
    }
    .promptStartersHeading {

        h2 {
            @include heading11;
            position: relative;
            color: $theme-white;

            &::before {
                content: '';
                position: absolute;
                bottom: 4px;
                width: 125px;
                height: 11px;
                background: $theme-secondary-background-color;
                left: 0;
                z-index: -1;
                border-radius: 8px;
            }
        }

        p {
            @include font16-normal;
            color: $theme-light-100;
            padding: 8px 0 0 0;
        }
    }


    .promptStartersDetails {
        padding: 30px 0 0 0;

        .promptStartersBox {
            background: $theme-light-background;
            padding: 34px;
            border-radius: 12px;
            @include breakpoint("sm-max") {
                padding: 16px;
            }
            ul {
                li {
                    @include font16;
                    padding: 0 0 30px 0;
                    color: $theme-white;
                    cursor: pointer;

                    &:last-child {
                        padding: 0;
                    }

                    p {
                        display: flex;
                        align-items: center;
                        gap: 20px;


                    }
                }
            }
        }
    }
}