@import '../../../styles/mixins/index.scss';

.toolsdropdown {
    position: relative;



    button {
        border: 1.8px solid $theme-primary-background-color;
        padding: 10px;
        background-color: transparent;
        display: grid;
        grid-template-columns: 24px 1fr;
        gap: 5px;
        align-items: center;
        cursor: pointer;
        border-radius: 6px;
        color: $theme-white;
        width: 136px;
        @include font16;
        font-weight: 600;

        .dropdownNameAlignment {
            display: flex;
            align-items: center;
            gap: 4px;
            justify-content: space-between;

            img {
                display: block;
            }
        }

    }

    .dropdownContent {
        position: absolute;
        z-index: 9;
        border-radius: 6px;
        border: 1.8px solid $theme-primary-background-color;
        width: 100%;
        top: 50px;
        background: #030219;
        left: 0;
        padding: 12px;
        border: 1px solid rgba(255, 255, 255, 0.12);


        .dropdownDetailsBox {
            padding: 12px 0;
            display: grid;
            grid-template-columns: 24px 1fr;
            gap: 5px;
            cursor: pointer;
            align-items: center;
            border-bottom: 1px solid rgba(255, 255, 255, 0.12);

            &:first-child {
                padding: 0 0 12px 0;
            }

            &:last-child {
                padding: 12px 0 0 0;
                border-bottom: none;
            }

            p {
                @include font16-normal;
                color: $theme-white;
            }
        }
    }
}