@import '../../../styles/mixins/index.scss';

.herobanner {

    // &.gptHerobanner {
    //     position: relative;
    //     top: -84px;
    //     padding: 0;

    //     @include breakpoint("md-max") {
    //         top: -74px;
    //     }

    //     &::before {
    //         position: absolute;
    //         content: "";
    //         top: 0;
    //         width: 100%;
    //         height: 508px;
    //         background: linear-gradient(359deg, transparent 34.34%, rgb(3 2 25) 121.45%);
    //         z-index: 999;

    //         @include breakpoint("md-max") {
    //             height: 262px;
    //         }
    //     }


    // }

    @keyframes vibe1 {
        0% {
            transform: translate(0) scale(.95);
        }

        20% {
            transform: translate(-2px, 2px) scale(1);
        }

        40% {
            transform: translate(-2px, -2px) scale(1.05);
        }

        60% {
            transform: translate(2px, -2px) scale(1.1);
        }

        80% {
            transform: translate(2px, 2px) scale(1);
        }

        100% {
            transform: translate(0) scale(.95);
        }
    }

    .relativeSection {
        position: relative;
        padding: 100px 0 80px 0;
        min-height: 540px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @include breakpoint("sm-max") {
            padding: 80px 0 100px 0;
        }

        .gptStoreOption {
            position: absolute;
            top: 0;

            @include breakpoint("sm-max") {
                width: 100%;
                height: 290px;

                img {
                    width: 100%;
                    height: 100%;
                    display: block;
                    object-fit: cover;
                }
            }

            @include breakpoint("sm-max") {
                width: 100%;
                height: 245px;

                img {
                    width: 100%;
                    height: 100%;
                    display: block;
                    object-fit: cover;
                }
            }

        }

        .first {
            position: absolute;
            top: 40px;
            animation: vibe1 8s ease .2s infinite alternate-reverse;
            left: 40px;

            @include breakpoint("md-max") {
                top: 20px;
            }

            .image {
                width: 98px;
                height: 98px;
                border-radius: 50%;
                min-height: 98px;

                @include breakpoint("md-max") {
                    width: 80px;
                    height: 80px;
                    min-height: 80px;
                }

                @include breakpoint("sm-max") {
                    width: 70px;
                    height: 70px;
                    min-height: 70px;
                }

                .cardImageChild {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    min-height: 98px;

                    @include breakpoint("md-max") {
                        min-height: 80px;
                    }

                    @include breakpoint("sm-max") {
                        min-height: 70px;
                    }

                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;

                        @include breakpoint("md-max") {
                            min-height: 80px;
                        }

                        @include breakpoint("sm-max") {
                            min-height: 70px;
                        }

                    }
                }

            }

            span {
                display: block;
                @include font18;
                color: $theme-light-white-900;
                text-align: center;
            }
        }

        .firstRight {
            position: absolute;
            top: 40px;
            right: 40px;
            animation: vibe1 4s ease .2s infinite alternate-reverse;

            @include breakpoint("md-max") {
                top: 20px;
            }

            .image {
                width: 98px;
                height: 98px;
                border-radius: 50%;
                min-height: 98px;


                @include breakpoint("md-max") {
                    width: 80px;
                    height: 80px;
                    min-height: 80px;
                }

                @include breakpoint("sm-max") {
                    width: 70px;
                    height: 70px;
                    min-height: 70px;
                }

                .cardImageChild {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    min-height: 98px;

                    @include breakpoint("md-max") {
                        min-height: 80px;
                    }

                    @include breakpoint("sm-max") {
                        min-height: 70px;
                    }

                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;

                        @include breakpoint("md-max") {
                            min-height: 80px;
                        }

                        @include breakpoint("sm-max") {
                            min-height: 70px;
                        }
                    }
                }

            }

            img {


                @include breakpoint("md-max") {
                    max-width: 80px;
                }

                @include breakpoint("sm-max") {
                    max-width: 70px;
                }

            }

            span {
                display: block;
                @include font18;
                color: $theme-light-white-900;
                text-align: center;
            }
        }

        .three {
            position: absolute;
            bottom: 0;
            left: 60px;
            animation: vibe1 4s ease .2s infinite alternate-reverse;


            .image {
                width: 98px;
                height: 98px;
                border-radius: 50%;
                min-height: 98px;


                @include breakpoint("md-max") {
                    width: 80px;
                    height: 80px;
                    min-height: 80px;
                }

                @include breakpoint("sm-max") {
                    width: 70px;
                    height: 70px;
                    min-height: 70px;
                }

                .cardImageChild {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    min-height: 98px;

                    @include breakpoint("md-max") {
                        min-height: 80px;
                    }

                    @include breakpoint("sm-max") {
                        min-height: 70px;
                    }

                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;

                        @include breakpoint("md-max") {
                            min-height: 80px;
                        }

                        @include breakpoint("sm-max") {
                            min-height: 70px;
                        }

                    }
                }

            }

            span {
                display: block;
                @include font18;
                color: $theme-light-white-900;
                text-align: center;
            }
        }

        .threeRight {
            position: absolute;
            bottom: 0;
            right: 60px;
            animation: vibe1 2s ease .2s infinite alternate-reverse;


            .image {
                width: 98px;
                height: 98px;
                border-radius: 50%;
                min-height: 98px;

                @include breakpoint("md-max") {
                    width: 80px;
                    height: 80px;
                    min-height: 80px;
                }

                @include breakpoint("sm-max") {
                    width: 70px;
                    height: 70px;
                    min-height: 70px;
                }

                .cardImageChild {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    min-height: 98px;

                    @include breakpoint("md-max") {
                        min-height: 80px;
                    }

                    @include breakpoint("sm-max") {
                        min-height: 70px;
                    }

                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;

                        @include breakpoint("md-max") {
                            min-height: 80px;
                        }

                        @include breakpoint("sm-max") {
                            min-height: 70px;
                        }

                    }
                }

            }

            span {
                display: block;
                @include font18;
                color: $theme-light-white-900;
                text-align: center;
            }
        }

        .sec {
            position: absolute;
            top: 47%;
            left: -10px;
            transform: translateY(-50%);
            animation: vibe1 6s ease .2s infinite alternate-reverse;

            @include breakpoint("sm-max") {
                display: none;
            }

            .image {
                width: 98px;
                height: 98px;
                border-radius: 50%;
                min-height: 98px;


                @include breakpoint("md-max") {
                    width: 80px;
                    height: 80px;
                    min-height: 80px;
                }

                @include breakpoint("sm-max") {
                    width: 70px;
                    height: 70px;
                    min-height: 70px;
                }

                .cardImageChild {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    min-height: 98px;

                    @include breakpoint("md-max") {
                        min-height: 80px;
                    }

                    @include breakpoint("sm-max") {
                        min-height: 70px;
                    }

                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;

                        @include breakpoint("md-max") {
                            max-width: 80px;
                        }

                        @include breakpoint("sm-max") {
                            max-width: 70px;
                        }
                    }
                }

            }

            span {
                display: block;
                @include font18;
                color: $theme-light-white-900;
                text-align: center;
            }
        }

        .secRight {
            position: absolute;
            top: 47%;
            right: -10px;
            transform: translateY(-50%);
            animation: vibe1 3s ease .2s infinite alternate-reverse;

            @include breakpoint("sm-max") {
                display: none;
            }

            .image {
                width: 98px;
                height: 98px;
                border-radius: 50%;
                min-height: 98px;


                @include breakpoint("md-max") {
                    width: 80px;
                    height: 80px;
                    min-height: 80px;
                }

                @include breakpoint("sm-max") {
                    width: 70px;
                    height: 70px;
                    min-height: 70px;
                }

                .cardImageChild {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    min-height: 98px;

                    @include breakpoint("md-max") {
                        min-height: 80px;
                    }

                    @include breakpoint("sm-max") {
                        min-height: 70px;
                    }

                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;

                        @include breakpoint("md-max") {
                            max-width: 80px;
                        }

                        @include breakpoint("sm-max") {
                            max-width: 70px;
                        }

                    }
                }

            }

            span {
                display: block;
                @include font18;
                color: $theme-light-white-900;
                text-align: center;
            }
        }

        .submitButton {
            display: flex;
            justify-content: center;

            button {
                border: none;
                cursor: pointer;
                @include font16-bold;
                border-radius: 30px;
                color: $theme-white;
                padding: 15px 45px;
                background-color: $theme-primary-background-color;


                @include breakpoint("sm-max") {
                    width: 100%;
                    padding: 11px;
                }
            }
        }

        h1 {
            @include heading1;
            @include heading-font;
            max-width: 721px;
            margin: 0 auto;
            text-align: center;
            color: $theme-white;

            @include breakpoint("md-max") {
                @include heading3;
                font-size: 50px;
                max-width: 400px;
                @include heading-font;
            }

            @include breakpoint("sm-max") {
                @include heading3;
                font-size: 36px;
                max-width: 400px;
                @include heading-font;
                margin: 60px auto 0 auto;
            }


            span {
                background: linear-gradient(90deg, #F65C54 36.49%, #AB57A5 51.09%, #5C52FB 66.3%);
                background-clip: text;
                @include heading-font;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

        .serchbarCenterAlignment {
            max-width: 480px;
            width: 480px;
            margin: 0 auto;

            @include breakpoint("sm-max") {
                width: 300px;

            }
        }



        .twoButtonAlignment {
            max-width: 480px;
            display: flex;
            margin: 0 auto;
            justify-content: center;
            gap: 20px;
            padding: 23px 0;

            @include breakpoint("sm-max") {
                display: grid;
                grid-template-columns: 1fr;
                gap: 16px;

            }

            button {
                border-radius: 30px;
                border: 1.8px solid $theme-primary-background-color;
                padding: 11px 22px;
                cursor: pointer;
                background-color: transparent;
                @include font16-bold;
                line-height: normal;
                display: flex;
                align-items: center;
                gap: 10px;
                color: $theme-white;
                text-transform: capitalize;
                transition: .3s ease-in-out;


                @include breakpoint("sm-max") {
                    width: auto;
                    margin: 0 auto;
                    justify-content: space-between;
                }

                &:hover {

                    img {
                        transform: translateX(3px)
                    }
                }

                img {
                    transition: .3s ease-in-out;
                }
            }
        }

        p {
            @include font20;
            color: $theme-light-white;
            max-width: 553px;
            margin: 10px auto 21px auto;
            text-align: center;

            @include breakpoint("md-max") {
                @include font14;
                font-size: 18px;
                max-width: 453px;
            }

            @include breakpoint("sm-max") {
                @include font14;
                max-width: 453px;
            }
        }
    }
}