@import "../../styles/mixins/index.scss";

.paymentSuccessFullSection {
  padding: 100px 0;

  .paymentSuccessBg {
    width: 498px;
    background: url("/assets/images/payment-img.png");
    height: 970px;
    margin: 0 auto;
    padding: 122px 35px 0 35px;

    .paymentMain {
      padding: 0 0 35px 0;
      border-bottom: 1.5px dashed rgba(255, 255, 255, 0.2);

      .paymentTopDetails {
        display: grid;
        grid-template-columns: 60px 1fr;
        gap: 14px;
        max-width: 280px;
        margin: 0 auto;

        .successIcon {
          width: 100%;
          height: 100%;

          img {
            width: 100%;
            height: 100%;
            display: block;
            border-radius: 50%;
          }
        }

        h4 {
          @include font22;
          font-weight: 600;
          line-height: 26.82px;
          color: $theme-white;
          padding: 0 0 4px 0;
        }

        p {
          @include font16-normal;
          color: $theme-light-white;
        }
      }
    }

    .paymentBottomDetails {
      padding: 34px 0;

      .paymentProfileDetails {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;

        .paymentProfileImg {
          width: 58px;
          height: 58px;
          min-width: 58px;
          max-width: 58px;

          img {
            width: 100%;
            height: 100%;
            display: block;
            border-radius: 50%;
            object-fit: cover;
          }
        }

        h6 {
          @include font18;
          color: $theme-white;
          padding: 0 0 4px 0;
        }

        p {
          @include font16-normal;
          color: $theme-light-white;
        }
      }

      .priceAlignment {
        padding: 32px 0 0 0;

        h5 {
          font-size: 52px;
          font-weight: 600;
          line-height: 63px;
          text-align: center;
          color: $theme-white;
        }
      }

      .notesAlignment {
        padding: 32px 0 0 0;
        text-align: center;

        span {
          font-size: 18px;
          font-weight: 600;
          line-height: 22px;
          text-decoration: underline;
          color: $theme-white;
        }

        p {
          padding: 12px 0 0 0;
          @include font16-normal;
          color: $theme-light-white;
          line-height: 26px;
        }
      }

      .buttonAlignment {
        max-width: 355px;
        height: 50px;
        margin: 0 auto;

        button {
          width: 100%;
          height: 100%;
          background: $theme-primary-background-color;
          color: $theme-white;
          @include font16-normal;
          border: none;
          border-radius: 30px;
          cursor: pointer;
        }
      }

      .submitButton {
        padding: 32px 0 35px 0;
        text-align: center;
        border-bottom: 1.45px solid #ffffff29;
      }

      .verifyButton {
        padding: 35px 0;
      }

      .paymentCardBoxAlignemnt {
        background: $theme-light-white-600;
        padding: 18px 60px;
        border-radius: 2px;
        display: flex;
        align-items: center;
        gap: 16px;

        .cardImg {
          width: 50px;
          height: 34px;
          min-width: 50px;
          max-width: 50px;

          img {
            width: 100%;
            height: 100%;
            display: block;
            object-fit: contain;
          }
        }

        .paymentCardDetails {
          h6 {
            @include font14;
            color: $theme-white;
          }

          p {
            @include font14;
            color: $theme-white;
            display: flex;
            align-items: center;
            gap: 2px;

            span {
              font-weight: 400;
              color: $theme-light-white;
            }
          }
        }
      }

      .paidButton {
        padding: 26px 0 0 0;
        text-align: center;

        button {
          height: 50px;
          width: 100px;
          padding: 1px 5px;
          background: $theme-primary-background-color;
          border: none;
          @include font14;
          font-weight: 700;
          cursor: pointer;
          color: $theme-white;
        }
      }
    }
  }
}
.avatar {
  background-color: #d42cf4;
  color: white;
  border-radius: 50%;
  @include font14;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  font-size: large;
  margin-top: 10px;
}
