@import "../../styles/mixins/index.scss";

.submitAiToolsSection {
  padding: 80px 0 0 0;

  @include breakpoint("sm-max") {
    padding: 60px 0;
  }

  .submitAiToolsAlignment {
    .submitAiToolsTop {
      max-width: 1099px;
      margin: 0 auto;

      .heading {
        text-align: center;

        h1 {
          text-align: center;
          @include heading-50;
          color: $theme-white;
          @include heading-font;
          position: relative;


          @include breakpoint("md-max") {
            @include heading3;
            @include heading-font;

          }

          @include breakpoint("sm-max") {
            @include heading6;
            @include heading-font;
            display: inline-block;
            font-size: 32px;

          }

          &::before {
            position: absolute;
            bottom: 5px;
            content: "";
            left: 50%;
            transform: translateX(-50%);
            z-index: -1;
            width: 198px;
            height: 11px;
            border-radius: 8px;
            background: #322f87;

            @include breakpoint("sm-max") {
              width: 100%;
              left: 0;
              transform: translateX(0);
              bottom: 0;
            }
          }

        }
      }

      p {
        padding: 14px 0 0 0;
        @include font18;
        color: $theme-light-white-800;
        text-align: center;
        font-weight: 400;
        line-height: 1.5;
        font-size: 16px;

        @include breakpoint("sm-max") {
          font-size: 14px;
          line-height: 24px;
          padding: 12px 0 0 0;
        }
      }
    }

    .createToolsAlignment {
      margin: 35px 0 0 0;

      @include breakpoint("sm-max") {
        margin: 40px 0 0 0;
      }

      .createToolsBox {
        background: $theme-light-white-600;
        border: 1px solid $search-input-border-color;
        padding: 30px;
        border-radius: 12px;
        text-align: center;

        @include breakpoint("sm-max") {
          padding: 16px;
        }

        .title {
          text-align: center;

          h5 {
            @include heading3;
            color: $theme-white;
            font-weight: 600;
            @include heading-font;

            @include breakpoint("sm-max") {
              font-size: 22px;
            }
          }
        }

        p {
          padding: 10px 0 0 0;
          @include font18;
          color: $theme-light-white-700;
          text-align: center;
          font-weight: 400;
          line-height: 1.5;
          font-size: 16px;

          @include breakpoint("sm-max") {
            font-size: 16px;
          }
        }

        .continueWithGoogleButton {
          padding: 30px 0 0 0;

          @include breakpoint("sm-max") {
            padding: 20px 0 0 0;
          }

          button {
            width: 263px;
            height: 46px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8px;
            cursor: pointer;
            border: none;
            background: transparent;
            @include font16-bold;
            color: $theme-white;
            border: 1.5px solid $theme-white;
            border-radius: 8px;
            margin: 0 auto;

            img {
              width: 24px;
              height: 24px;
            }

            @include breakpoint("sm-max") {
              width: 100%;
              height: 40px;
              font-size: 14px;

              img {
                width: 18px;
                height: 18px;
              }
            }
          }
        }
      }
    }

    .submitAiToolsBottom {
      padding: 35px 0 0 0;

      @include breakpoint("sm-max") {
        padding: 40px 0 0 0;
      }

      p {
        @include font18;
        font-weight: 300;
        color: $theme-light-white-800;
        padding: 0 0 30px 0;
        line-height: 1.5;
        font-size: 16px;

        @include breakpoint("sm-max") {
          padding: 0 0 20px 0;
          font-size: 16px;
        }

        a {
          text-decoration: underline;
          cursor: pointer;

        }
      }

      ul {
        padding: 0 0 0 24px;
        margin: 0;

        li {
          @include font18;
          font-weight: 300;
          color: $theme-light-white-800;
          line-height: 27px;
          padding: 0 0 25px 0;
          line-height: 1.5;
          font-size: 16px;

          @include breakpoint("sm-max") {
            padding: 0 0 20px 0;
            font-size: 16px;
          }

          span {
            position: relative;
            font-weight: 600;
            color: $theme-white;
            font-size: 16px;
            &::before {
              position: absolute;
              bottom: 0;
              content: "";
              left: 50%;
              transform: translateX(-50%);
              z-index: -1;
              width: 100%;
              height: 11px;
              border-radius: 8px;
              background: #322f87;

              @include breakpoint("sm-max") {
                bottom: -3px;
              }
            }
          }
        }
      }
    }
  }
}