@import "../../styles/mixins/index.scss";

.submitAiToolsFormSection {
  padding: 80px 0 0 0;
  @include breakpoint("sm-max") {
    padding: 60px 0;
  }

  .grayText {
    color: $theme-light-white-600-2 !important;
  }

  @include breakpoint("sm-max") {
    padding: 24px 0;
  }

  .spinner {
    /* Add styles for your spinner here */
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-top: 4px solid #f8f6f6;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    animation: spin 1s linear infinite;
    /* Adding a simple rotation animation */
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  .errormessage {
    color: red;
    padding: 10px 0px;
  }

  .submitAiToolsFormAlignment {
    .heading {
      h4 {
        text-align: center;
        @include heading2;
        color: $theme-white;
        @include heading-font;
        position: relative;

        &::before {
          position: absolute;
          bottom: 5px;
          content: "";
          left: 50%;
          transform: translateX(-50%);
          z-index: -1;
          width: 198px;
          height: 11px;
          border-radius: 8px;
          background: #322f87;


          @include breakpoint("sm-max") {
            bottom: -5px;
          }
        }
      }

      p {
        padding: 14px 0 0 0;
        @include font18;
        color: $theme-light-white;
        text-align: center;
        font-weight: 400;

        @include breakpoint("sm-max") {
          font-size: 16px;
        }
      }
    }

    .submitAiToolsMainForm {
      margin: 50px 0 0 0;

      @include breakpoint("sm-max") {
        margin: 40px 0 0 0;
      }

      .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;

        @include breakpoint("sm-max") {
          grid-template-columns: 1fr;
          gap: 0;
        }
      }

      .formBoxAlignment {
        border: 1px solid $search-input-border-color;
        background: $theme-light-white-600;
        padding: 25px;
        margin: 15px;
        border-radius: 18px;
        height: max-content;

        &.bottomAlignment {
          margin: 0 0 40px 0;
        }

        @include breakpoint("sm-max") {
          padding: 16px;
        }

        .formInput {
          padding: 0 0 30px 0;

          @include breakpoint("sm-max") {
            padding: 0 0 16px 0;
          }

          &:last-child {
            padding: 0;
          }

          &.leftSide {
            padding: 0 50px 0 0;
            border-right: 1.5px solid #ffffff1a;
          }

          &.rightSide {
            padding: 0 0 0 50px;
          }

          label {
            @include font16;
            color: $theme-white;
            display: block;
            padding: 0 0 10px 0;
            text-transform: capitalize;

            &.secondPadding {
              padding: 0 0 20px 0;
            }

            @include breakpoint("sm-max") {
              font-size: 14px;
              line-height: 21px;
              padding: 0 0 8px 0;
            }
          }

          .input {
            select {
              option {
                color: #000 !important;
              }
            }

            input,
            select {
              width: 100%;
              height: 50px;
              background: $search-input-background-color;
              padding: 0 15px;
              border: none;
              @include font16-normal;
              color: $theme-white;
              border-radius: 8px;

              &:focus {
                outline: none;
              }

              &::placeholder {
                color: $theme-light-white-600-2;
              }
            }

            textarea {
              width: 100%;
              height: 150px;
              background: $search-input-background-color;
              padding: 15px;
              border: none;
              @include font16-normal;
              color: $theme-white;
              border-radius: 8px;
              resize: none;

              &:focus {
                outline: none;
              }

              &::placeholder {
                color: $theme-light-white-600-2;
              }

              &::-webkit-scrollbar {
                width: 5px !important;
              }

              &::-webkit-scrollbar-track {
                background: transparent;
              }

              &::-webkit-scrollbar-thumb {
                background: #fff !important;
              }
            }
          }

          .customSelect {
            cursor: pointer;
            width: 100%;
            height: 50px;
            background: $search-input-background-color;
            padding: 0 15px;
            border-radius: 8px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;

            input {
              width: 100%;
              height: 100%;
              border: none;
              @include font16-normal;
              color: $theme-white;
              background-color: transparent;
              border: none;
              cursor: pointer;

              &:focus {
                outline: none;
              }

              &::placeholder {
                color: $theme-light-white-600-2;
              }
            }

            .arrowIcon {
              width: 14px;
              height: 14px;
              min-width: 14px;
              max-width: 14px;
              cursor: pointer;

              img {
                width: 100%;
                height: 100%;
                display: block;
              }
            }

            .customDropdownBox {
              background: #181736;
              width: 100%;
              border-radius: 8px;
              position: absolute;
              top: 56px;
              left: 0;

              &.openDropdownAlignment {
                max-height: 208px;
                overflow-y: auto;
                transition: 0.4s ease-in-out;
                border: 1px solid $theme-light-white-400;
                z-index: 9;

                &::-webkit-scrollbar {
                  width: 5px !important;
                }

                &::-webkit-scrollbar-track {
                  background: transparent;
                }

                &::-webkit-scrollbar-thumb {
                  background: #fff !important;
                }
              }

              &.closeDropdownAlignment {
                max-height: 0px;
                overflow-y: hidden;
                transition: 0.4s ease-in-out;
                border: 0px solid transparent;
              }

              .customDropdownName {
                padding: 15px;
                border-bottom: 1px solid $search-input-border-color;
                transition: 0.4s ease-in-out;
                cursor: pointer;

                &:hover {
                  transition: 0.4s ease-in-out;

                  background: $theme-primary-background-color;
                }

                &:last-child {
                  border-bottom: none;
                }

                p {
                  @include font16-normal;
                  color: $theme-white;
                }
              }
            }
          }

          .otherOptionDetails {
            @include breakpoint("sm-max") {
              flex-wrap: wrap;
              gap: 10px;
            }

            .allOtherDetailsMain {
              input[type="checkbox"]+label {
                display: block;
                cursor: pointer;
                padding: 0;
              }

              input[type="checkbox"] {
                display: none;
              }

              input[type="checkbox"]+label:before {
                content: "✔";
                border: 2px solid rgba(255, 255, 255, 0.32);
                border-radius: 2px;
                display: flex;
                width: 18px;
                height: 18px;
                vertical-align: bottom;
                color: transparent;
                transition: 0.2s;
                font-size: 10px !important;
                justify-content: center;
                align-items: center;
              }

              input[type="checkbox"]:checked+label:before {
                background-color: $theme-primary-background-color;
                color: $theme-white;
              }

              input[type="checkbox"]:checked+label:after {
                display: block;
                position: absolute;
                top: 11px;
                left: 16px;
                width: 4px;
                height: 10px;
                border: 1px solid none !important;
                border-width: 0 2px 2px 0;
                transform: rotate(45deg);
              }

              .optionFlexAlignment {
                display: flex;
                align-items: center;
                gap: 13px;
                padding: 0 0 25px 0;

                .optionRightSideAlignment {
                  .rightContentflex {
                    display: flex;
                    align-items: center;
                    gap: 6px;

                    img {
                      width: 18px;
                      display: block;
                    }
                  }

                  p {
                    @include font16;
                    color: $theme-white;
                    font-weight: 400;
                  }
                }
              }
            }
          }
        }

        .formOptionDetailsAlignment {
          display: flex;
          align-items: flex-start;
        }

        .uploadedBoxAlignment {
          border: 1.5px dashed #ffffff33;
          width: 100%;
          height: 360px;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          gap: 10px;
          border-radius: 8px;
          position: relative;

          &.hiddenDiv {
            display: none;
          }

          p {
            @include font16-normal;
            color: $theme-light-white-600-2;
          }

          input[type="file"] {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            text-indent: 999px;
            cursor: pointer;
          }
        }

        .uploadedImgAlignment {
          width: 400px;
          height: 360px;
          position: relative;
          margin: 0 auto;

          img {
            &.sliderImg {
              width: 100%;
              height: 360px;
              border-radius: 10px;
              object-fit: cover;
              display: block;
            }
          }

          &.secondImg {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;

            img {
              width: 100%;
              height: 270px;
            }

            .closeIconAlignment {
              width: 32px;
              height: 32px;

              img {
                width: 100%;
                height: 100%;
              }
            }
          }

          .imageContainer {
            position: relative;
            width: 100%;
          }

          .closeIconAlignment {
            width: 32px;
            height: 32px;
            position: absolute;
            top: 0;
            right: 0;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }

    .formButtonAlignment {
      margin: 70px auto 0 auto;
      max-width: 530px;
      height: 50px;

      .button {
        max-width: 530px;
        height: 50px;

        @include breakpoint("md-max") {
          display: flex;
          justify-content: flex-end;
          align-items: center;
        }

        @include breakpoint("sm-max") {
          width: 100%;
        }

        button {
          border-radius: 8px;
          background: $theme-primary-background-color;
          @include font16-bold;
          color: $theme-white;
          padding: 0 18px;
          font-size: 16px;
          font-weight: 500;
          line-height: 20px;
          border: none;
          cursor: pointer;
          height: 46px;
          white-space: nowrap;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 16px;

          &[disabled] {
            background: $theme-primary-background-color;
            @include font16-bold;
            color: $theme-white;
            cursor: no-drop;
          }

          transition: 0.3s ease-in-out;

          &:hover {
            transform: translate(0, -3px);
            background: $theme-primary-background-color;
            @include font16-bold;
            color: $theme-white;
          }

          @include breakpoint("sm-max") {
            width: 100%;
          }
        }
      }
    }

    :global(.sun-editor) {
      background: #28263e;
      border-radius: 8px;
      border: none;
    }

    :global(.se-toolbar) {
      background: rgba(255, 255, 255, 0.08);
      outline: none;

      span {

        color: #fff;
      }

      svg {
        color: #fff;

      }
    }

    :global(.se-btn:enabled:hover) {
      span {

        color: #000;
      }

      svg {
        color: #000;

      }
    }

    :global(.sun-editor-editable) {
      background: transparent;

    }

    :global(.se-resizing-bar) {
      background: transparent;
      border: none;
    }

    :global(.se-btn-module-border) {
      border: none;
    }

    :global(.sun-editor) {
      /* Add your custom styles here */
      border-color: rgb(78, 26, 221) !important;
      color: white;
    }

    :global(.sun-editor-editable p) {
      color: #fff;
    }

    :global(.custom-sun-editor) {

      .se-placeholder {
        color: rgb(118, 118, 118);
      }
    }

    :global(.custom-sun-editor) {

      .se-toolbar {
        border-color: rgb(118, 118, 118);
      }
    }

    :global(.custom-sun-editor) {

      .se-toolbar-button {
        color: white;
      }
    }

    :global(.sun-editor-editable p) {
      color: #fff;
    }
  }
}

.leftArrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  left: -80px;

  @include breakpoint("md-max") {
    left: 0;
  }
}

.rightArrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  right: -80px;

  @include breakpoint("md-max") {
    right: 0;
  }

  img {
    transform: rotate(180deg);
  }


}