@import "../../../styles/mixins/index.scss";

.getInTouchAlignment {
  padding: 60px 0 0 0;

  @include breakpoint("md-max") {
    padding: 0 0 0 0;
  }

  .box {
    border-radius: 18px;
    background: #625df5;
    padding: 30px;
    position: relative;

    h4 {
      color: $theme-white;
      margin: 0 0 12px 0;
      font-family: "Paytone One", sans-serif;
      font-size: 50px;
      line-height: 55px;
      font-weight: 400;

      @include breakpoint("sm-max") {
        @include heading6;
        @include heading-font;
      }
    }

    .btnCenteralignment {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      button {
        color: #625df5;

        line-height: 32px;

        border: none;
        background: #ffffff;
        border-radius: 30px;
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 8px;
        font-weight: 700;
        letter-spacing: 0.54px;
        padding: 6px 20px;
        font-size: 18px;
        line-height: 28px;

        @include breakpoint("sm-max") {
          @include font16;
          padding: 6px 20px;
        }
      }
    }

    p {
      @include font16;
      font-weight: 400;
      line-height: 24px;
      color: #ffffff;

      max-width: 686px;
      text-align: left;
      padding: 0 0 25px 0;

      @include breakpoint("md-max") {
        max-width: 432px;
      }

      @include breakpoint("sm-max") {
        @include font14;
        max-width: 100%;
      }
    }

    &::before {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      background: url("/assets/images/contct-bg-img.svg");
      width: 360px;
      height: 340px;
      background-size: cover;
      background-repeat: no-repeat;

      @include breakpoint("md-max") {
        width: 300px;
        height: 300px;
        background-size: cover;
      }

      @include breakpoint("sm-max") {
        display: none;
      }
    }
  }
}