@import '../../styles/mixins/index.scss';

.aishortvideosBanner {
    padding: 60px 0 0 0;

    @include breakpoint("sm-max") {
        padding: 60px 0 40px 0;
    }

    .title {
        padding: 0 0 44px 0;

        @include breakpoint("sm-max") {
            padding: 0;
        }

        P {
            @include font18;
            color: $theme-light-white;
            font-weight: 400;
            max-width: 929px;
            margin: 0 auto;
            text-align: center;
            padding: 14px 0 0 0;

            @include breakpoint("sm-max") {
                @include font14;
                line-height: 24px;
                padding: 12px 0 0 0;
            }
        }


        h1 {
            text-align: center;
            @include heading-50;
            color: $theme-white;
            @include heading-font;
            position: relative;

            &::before {
                position: absolute;
                bottom: 5px;
                content: "";
                left: 50%;
                transform: translateX(-50%);
                z-index: -1;
                width: 198px;
                height: 11px;
                border-radius: 8px;
                background: #322f87;

                @include breakpoint("sm-max") {
                    bottom: -5px;
                }
            }

            @include breakpoint("md-max") {
                @include heading3;
                @include heading-font;
            }

            @include breakpoint("sm-max") {
                @include heading8-bold;
                @include heading-font;
            }
        }





    }
}