@import '../../../styles/mixins/index.scss';

.companyImage {

    padding: 31px 0;
    margin: 80px 0 0 0;
    position: relative;
    background: linear-gradient(89.99deg, rgba(98, 93, 245, 0.0975) 0.01%, rgba(98, 93, 245, 0.027) 16.53%, rgba(98, 93, 245, 0.027) 49.06%, rgba(98, 93, 245, 0.027) 83.21%, rgba(98, 93, 245, 0.0975) 99.99%);

    @include breakpoint("md-max") {
        padding: 24px 0;
    }

    &::before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100px;
        height: 100%;
        // backdrop-filter: blur(19.596906661987305px);
        // background: #2121218a;
        z-index: 99;
        background: linear-gradient(270deg, rgba(0, 0, 0, 0) 34.34%, rgba(0, 0, 0, .4) 86.45%);

        @include breakpoint("sm-max") {
            width: 40px;
        }

    }

    &::after {
        position: absolute;
        content: '';
        top: 0;
        right: 0;
        width: 100px;
        height: 100%;
        // backdrop-filter: blur(19.596906661987305px);
        // background: #2121218a;
        z-index: 99;
        background: linear-gradient(90deg, rgba(0, 0, 0, 0) 34.34%, rgba(0, 0, 0, .4) 86.45%);

        @include breakpoint("sm-max") {
            width: 40px;
        }
    }

    // &::after {
    //     position: absolute;
    //     content: '';
    //     top: 0;
    //     right: 0;
    //     width: 160px;
    //     height: 100%;
    //     background: rgba(98, 93, 245, 0.02);
    //     z-index: 999;

    // }

    @include breakpoint("md-max") {
        margin: 40px 0 0 0;
        padding: 30px 0;
    }

    ::-webkit-scrollbar {
        display: none;
    }

    .imageAlignment {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include breakpoint("sm-max") {
            white-space: nowrap;
            overflow: auto;
            gap: 20px;
            width: 100%;
        }

        img {
            display: block;
            margin: 0 80px 0 0;
            height: 26px;
            max-width: 100%;
            object-fit: contain;
            filter: invert(1);

            @include breakpoint("sm-max") {
                margin: 0 50px 0 0;
                height: 20px;
            }
        }


    }
}