@import "../../styles/mixins/index.scss";

.gptDetailsSection {
  // padding: 62px 0 0 0;

  // @include breakpoint("md-max") {
  //   padding: 40px 0 0 0;
  // }

  .gptDetailsTopBar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include breakpoint("md-max") {
      flex-wrap: wrap;
      gap: 30px;
    }

    .topBarLeft {
      display: flex;
      align-items: center;
      gap: 16px;
      flex-wrap: wrap;

      @include breakpoint("sm-max") {
        gap: 12px;
      }

      .breadcrumbName {
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        @include font16-normal;
        color: rgba(255, 255, 255, 0.8);
        text-transform: capitalize;

        @include breakpoint("md-max") {
          gap: 30px;
          justify-content: center;
        }

        @include breakpoint("md-max") {
          gap: 12px;
          font-size: 12px;
          line-height: 18px;
        }

        .topBarLeft {
          display: flex;
          align-items: center;
          gap: 16px;

          @include breakpoint("sm-max") {
            gap: 12px;
          }

          .breadcrumbName {
            display: flex;
            align-items: center;
            gap: 20px;
            cursor: pointer;
            @include font18;
            color: $theme-white-2;
            text-transform: capitalize;

            @include breakpoint("sm-max") {
              gap: 12px;
              font-size: 12px;
              line-height: 18px;
            }
          }
        }

        .gptSearchAlignment {
          width: 400px;
          height: 55px;
          position: relative;

          @include breakpoint("sm-max") {
            width: 100%;
          }

          // input {
          //     width: 100%;
          //     height: 100%;
          //     background: $theme-light-background;
          //     border-radius: 12px;
          //     padding: 0 25px 0 68px;
          //     @include font20-meduim;
          //     color: $theme-white;
          //     border: none;

          //     &::placeholder {
          //         color: $theme-gpt-input-placeholder-color;
          //     }

          //     &:focus {
          //         outline: none;
          //     }

          //     @include breakpoint("sm-max") {
          //         font-size: 16px;
          //         line-height: 24px;
          //     }
          // }

          .searchIon {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 25px;
            width: 22px;
            height: 22px;
            cursor: pointer;
          }
        }
      }
    }

    .gptSearchAlignment {
      width: 400px;
      height: 55px;
      position: relative;

      @include breakpoint("md-max") {
        width: 100%;
        display: none;
      }

      input {
        width: 100%;
        height: 100%;
        background: $theme-light-background;
        border-radius: 12px;
        padding: 0 25px 0 68px;
        @include font20-meduim;
        color: $theme-white;
        border: none;

        &::placeholder {
          color: $theme-gpt-input-placeholder-color;
        }

        &:focus {
          outline: none;
        }

        @include breakpoint("sm-max") {
          font-size: 16px;
          line-height: 24px;
        }
      }

      .searchIon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 25px;
        width: 22px;
        height: 22px;
        cursor: pointer;
      }
    }
  }

  .gptDetailsHeaderAlignment {
    padding: 40px 0 0 0;

    @include breakpoint("md-max") {
      padding: 20px 0 0 0;
    }

    .gptDetailsHeaderFlex {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      min-height: 146px;

      @include breakpoint("sm-max") {
        flex-wrap: wrap;
        justify-content: center;
        gap: 5px;
        height: 100%;
      }

      .gptProfileAlignment {
        display: flex;
        gap: 25px;
        align-items: center;

        @include breakpoint("sm-max") {
          gap: 20px;
          width: 100%;
          display: grid;
          grid-template-columns: 1fr;
          margin-top: 10px;
        }

        // .gptProfileImg {
        //   width: 120px;
        //   height: 120px;
        //   min-width: 120px;
        //   max-width: 120px;
        //   position: relative;
        //   margin: 10px 0 0 0;

        //   @include breakpoint("md-max") {
        //     width: 100px;
        //     margin: 0;
        //     height: 100px;
        //     min-width: 100px;
        //     max-width: 100px;
        //   }

        //   @include breakpoint("sm-max") {
        //     width: 160px;
        //     min-width: 160px;
        //     max-width: 160px;
        //     height: 160px;
        //   }

        //   img {
        //     width: 100%;
        //     height: 100%;
        //     display: block;
        //     object-fit: cover;
        //     border-radius: 16px;
        //   }

        //   .gptIconAlignment {
        //     position: absolute;
        //     bottom: -8px;
        //     right: -8px;
        //   }
        // }
        .gptProfileImg {
          width: 100%;
          height: 120px;
          min-width: 120px;
          max-width: 120px;
          position: relative;
          margin: 10px 0 0 0;
          @include breakpoint("md-max") {
            width: 100px;
            margin: 0;
            height: 100px;
            min-width: 100px;
            max-width: 100px;
          }

          @include breakpoint("sm-max") {
            width: 80px;
            min-width: 80px;
            max-width: 80px;
            height: 80px;
          }

          img {
            width: 100%;
            height: 100%;
            display: block;
            object-fit: cover;
          }

          .cardImageChild {
            height: 100%;
            width: 100%;
            border-radius: 18px;

            @include breakpoint("md-max") {
              height: 100%;
              width: 100%;
            }

            @include breakpoint("sm-max") {
              height: 100%;
              width: 100%;

              img {
                border-radius: 8px;
              }
            }

            img {
              border-radius: 18px;
            }
          }

          .gptIconAlignment {
            position: absolute;
            bottom: -8px;
            right: -8px;
          }
        }
        .gptProfileDetailsAlignment {
          h1 {
            @include heading-50;
            color: $theme-white;
            max-width: 750px;
            margin: 0 0 10px 0;
            font-size: 32px;

            @include breakpoint("md-max") {
              font-size: 32px;
              max-width: 100%;
            }

            @include breakpoint("sm-max") {
              font-size: 28px;
              max-width: 400px;
              max-width: 100%;
            }
          }

          span {
            @include font24;
            font-weight: 500;
            color: $theme-light-100;
            font-size: 18px;
            text-transform: capitalize;

            @include breakpoint("md-max") {
              font-size: 18px;
            }

            @include breakpoint("sm-max") {
              font-size: 14px;
              line-height: 21px;
            }
          }

          .authorDetailsAlignment {
            padding: 10px 0 0 0;
            display: flex;
            align-items: center;
            gap: 10px;

            @include breakpoint("sm-max") {
              padding: 6px 0 0 0;
            }

            p {
              @include font18;
              font-weight: 500;
              color: $theme-white-2;
              font-size: 16px;

              @include breakpoint("sm-max") {
                font-size: 14px;
                line-height: 21px;
              }

              &.answerText {
                color: #989898;
              }
            }

            .leftSideAlignment {
              display: flex;
              align-items: center;
              gap: 8px;

              p {
                @include font18;
                font-weight: 500;
                color: $theme-white-2;

                @include breakpoint("sm-max") {
                  font-size: 14px;
                  line-height: 21px;
                }
              }
            }
          }
        }
      }

      .gptRightSideAlignment {
        height: 130px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @include breakpoint("sm-max") {
          width: 100%;
          height: fit-content;
          justify-content: flex-end;
          display: flex;
          align-items: flex-end;
          flex-wrap: wrap;
          gap: 20px;
          padding: 0 0 0 0;
        }

        .topOptionAlignment {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          gap: 24px;

          @include breakpoint("sm-max") {
            gap: 18px;
          }

          .optionIcon {
            width: 24px;
            height: 24px;
            cursor: pointer;

            @include breakpoint("sm-max") {
              width: 24px;
              height: 24px;
            }

            img {
              width: 100%;
              height: 100%;
              display: block;
            }
          }
        }

        .topBottomFlexAlignment {
          display: flex;
          align-items: center;
          gap: 12px;

          // padding: 30px 0 0 0;

          @include breakpoint("sm-max") {
            padding: 0;
            width: 100%;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
          }

          .topOptionButton {
            button {
              display: flex;
              align-items: center;
              gap: 16px;
              background: $theme-primary-background-color;
              @include font20;
              letter-spacing: 3%;
              font-weight: 600;
              cursor: pointer;
              border: none;
              padding: 12px 22px;
              color: $theme-white;
              border-radius: 8px;
              font-size: 16px;
              height: 50px;
              white-space: nowrap;
              min-width: 180px;
              justify-content: center;

              img {
                width: 14px;

                @include breakpoint("sm-max") {
                  width: 12px;
                }
              }

              @include breakpoint("sm-max") {
                gap: 14px;
                font-size: 14px;
                padding: 0 12px;
                height: 40px;
                width: 100%;
                justify-content: center;
              }
            }
          }

          .bookMarkbutton {
            border: 1px solid $theme-white;
            border-radius: 10px;
            padding: 10px 0;
            min-width: 180px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            cursor: pointer;

            @include breakpoint("sm-max") {
              padding: 6px 0;
              min-width: auto;
              width: 100%;
            }

            .bookMarkIcon {
              width: 16px;
              height: 26px;

              svg {
                width: 16px;
              }

              @include breakpoint("sm-max") {
                width: 14px;

                svg {
                  width: 14px;
                }
              }

              img {
                width: 100%;
                height: 100%;
                display: block;
              }
            }

            p {
              @include font16-bold;
              letter-spacing: 3%;
              color: $theme-white;

              @include breakpoint("sm-max") {
                font-size: 14px;
              }
            }
          }
        }
      }
    }

    .gptListAlignment {
      padding: 30px 0 0 0;

      @include breakpoint("md-max") {
        padding: 32px 0 0 0;
      }

      p {
        @include font16;
        line-height: 27px;
        color: $theme-light-100;
        font-weight: 500;

        @include breakpoint("sm-max") {
          font-size: 14px;
          line-height: 24px;
        }
      }
    }
  }
}

.skeletonUi {
  br {
    display: none;
  }

  .breadcrumbSkeleton {
    height: 21px;
    width: 100%;
  }

  .first {
    width: 300px;
    height: 50px;
    display: block;
    margin: 0 0 4px 0;

    @include breakpoint("sm-max") {
      height: 24px;
      width: 200px;
    }
  }

  .second {
    width: 300px;
    height: 24px;
    display: block;
    margin: 0 0 4px 0;

    @include breakpoint("sm-max") {
      height: 16px;
      width: 200px;
    }
  }

  .third {
    width: 300px;
    height: 27px;
    display: block;
    width: 200px;
  }
}

.bookMarkSkeleton {
  width: 180px;
  min-width: 180px;
  height: 48px;
  border-radius: 10px;
}
