@import "breakpoints";
@import "typography";
@import "input";
@import "layout";
@import "../theme";


.container {
    max-width: calc(1260px + 40px);
    padding: 0 20px;
    margin: 0 auto;

    &.video-container {
        @include breakpoint("sm-max") {
            padding: 0 10px;
        }
    }
}


.container-sm {
    max-width: calc(1160px + 40px);
    padding: 0 20px;
    margin: 0 auto;
}

.container-md {
    max-width: calc(1080px + 40px);
    padding: 0 20px;
    margin: 0 auto;
}

.container-xl {
    max-width: calc(1300px + 40px);
    padding: 0 20px;
    margin: 0 auto;
}

  